$icon-font-path: '../fonts/';

// HCSE colors

$navbar-default-color: white;
$navbar-default-bg: rgb(0, 55, 114);
$navbar-default-link-color: white;
$navbar-default-link-hover-color: rgb(238, 238, 238);
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg: lighten($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color: rgb(204, 204, 204);

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  background: rgba(255,255,255,0.75);
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 970px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.table {
  tbody {
    tr {
      td {
        padding: 8px 0px;
        &.spaced {
          padding-right: 8px;
          white-space: nowrap;
        }
      }
    }
  }
}

.cover{
  color: rgb(255, 255, 255);
  position: relative;
  min-height: 350px;
  background: url("/images/Stockholm_view_ over_The_Riddarholmen_Island_Photo_Jeppe Wikstrom_High-res.png") no-repeat scroll 50% 100% / cover transparent;
  padding-top: 20px;
  margin-bottom: 10px;
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.well.condensed {
  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  th, td {
    line-height: 1;
  }
  .table {
    margin-bottom: 0;
  }
}
