extends ../../layout.jade

block info
  -var menu='attending'

block content
  h2 Transportation
  p
    | Stockholm (
    a(href='https://www.google.com/maps/place/Nils+Ericsons+Plan+4,+111+64+Stockholm,+Sverige/@59.3301577,18.0570095,13z/data=!4m2!3m1!1s0x465f9d60404e3d8b:0x3195ad6149f8f4a9')
      | google maps
    |     ) is a little more than a two-hour flight away from major European cities like London and Paris. With flight connections from all over the world, visitors
    |     will have an easy time of reaching the Capital of Sweden.
    br
    |     Thanks to Stockholm’s safe, punctual and efficient public transport system SL, visitors can quickly travel between different locations.
  h4
    | Main Airport:&nbsp;
    a(href="http://www.arlanda.se",target="_blank") Stockholm-Arlanda
  p
    |     Key hub for flights to major destinations in Europe as well as the rest of the world. It is situated 40km (25mi) north of the city. For more information
    |     about Stockholm-Arlanda Airport, airlines, timetables, VIP Service etc., see link above.
  p
    | The
    strong  direct train&nbsp;
    a(href='https://www.arlandaexpress.com/') Arlanda Express
    |  takes you from Arlanda Airport to the main train station,
    |     directly below the venue. Departure: every 15 minutes (for most of the day). Travel time: 20 minutes.
  p
    | There is also a
    strong coach service
    |  departing every 10-15 minutes between Arlanda Airport and the City Terminal (located next to the main train
    |     station). Travel time: 35-40 minutes.
  h4 Other airports
  p
    ul(type='disc')
      li
        strong Stockholm-Bromma Airport
        |         – www.brommaairport.se Stockholm-Bromma Airport is a small city-airport offering both scheduled (mainly domestic) and charter flights. It’s located
        |         conveniently close to central Stockholm (20 minutes by bus).
      li
        strong Stockholm-Skavsta Airport
        |         – www.skavsta.se Stockholm Skavsta Airport is located 100 km south west of central Stockholm. The airport is a hub for Ryanair and other low cost
        |         airlines and offers direct flights to several destinations in Europe (80 minutes by bus from central Stockholm).
      li
        strong Stockholm-Västerås Airport
        |         – www.vst.nu Stockholm Västerås Airport is located 100 km north west of central Stockholm. The airport is served chiefly by the low-fare airline
        |         Ryanair.
  h4 Taxi
  p
    |     There are many taxi companies to choose from in Stockholm. Approved taxis with metered fares always bear yellow number plates. Credit cards are readily
    |     accepted.
  p
    |     Taxi prices are not regulated in Sweden; they may vary greatly. It is the customer’s responsibility to check prices beforehand. Check the price on the
    |     yellow-and-white label, which is usually on the rear door window, before entering the vehicle. The highest unit price of most taxis is between SEK 350 –
    |     440. The price on the yellow label is based on a 10 km, 15-minute journey.
  p
    |     The price indicated on the taximeter is in Swedish kronor. For trips to and from Stockholm Arlanda Airport the major taxi companies have fixed prices of
    |     between SEK 550-600. Always ask the driver beforehand. In addition to the major taxi companies there are several independent firms; caution is advised. You
    |     can easily get hold of a taxi by calling a taxi company, hailing one on the street or by taking a one from a rank, e.g. at NK on Hamngatan.
  h5 Recommended taxi companies:
  p
    a(href="www.taxistockholm.se/",target="_blank") Taxi Stockholm
    br
    a(href="www.taxikurir.se/",target="_blank") Taxi Kurir
    br
    a(href="http://www.taxi020.se/",target="_blank") Taxi 020
