extends ../layout.jade

block info
  -var menu='organizers'

block content
  h2 Organizers
  h4 General Conference Chairs:
  p Cristian Bogdan
    |, KTH Royal Institute of Technology,
    | Stockholm, Sweden
    br
    | Jan Gulliksen, KTH Royal Institute of Technology,
    | Stockholm, Sweden
  h4 Technical Program Chair:
  p Stefan Sauer, Paderborn University & Software
    | Innovation Campus Paderborn, Germany
  h4 HCSE Technical Paper Chairs:
  p Peter Forbrig, University of Rostock, Germany
    br
    | Marco Winckler, ICS-IRIT, Université Paul Sabatier,
    | Toulouse, France
  h4 HESSD Technical Paper Chairs:
  p Chris Johnson, School of Computing Science,
    | University of Glasgow, Scotland
    br
    | Philippe Palanque, ICS-IRIT, Université Paul Sabatier,
    | Toulouse, France
  h4 Demos and Posters Chair:
  p Regina Bernhaupt, ICS-IRIT, Université Paul Sabatier,
    | Toulouse, France
    br
    | Filip Kis, KTH Royal Institute of Technology,
    | Stockholm, Sweden
  h4 Proceedings Chair:
  p Stefan Sauer, Paderborn University & Software
    | Innovation Campus Paderborn, Germany
  h4 Publicity Chair:
  p Filip Kis, KTH Royal Institute of Technology,
    | Stockholm, Sweden
