extends ../layout.jade

block info
  -var menu='organizers'

block content
  h2 Organizers
  h4 General Conference Chairs:
  p Cristian Bogdan
    |, KTH Royal Institute of Technology,
    | Stockholm, Sweden
    br
    | Jan Gulliksen, KTH Royal Institute of Technology,
    | Stockholm, Sweden
  h4 Technical Program Chair:
  p Stefan Sauer, Paderborn University & Software
    | Innovation Campus Paderborn, Germany
  h4 HCSE Technical Paper Chairs:
  p Peter Forbrig, University of Rostock, Germany
    br
    | Marco Winckler, ICS-IRIT, Université Paul Sabatier,
    | Toulouse, France
  h4 HESSD Technical Paper Chairs:
  p Chris Johnson, School of Computing Science,
    | University of Glasgow, Scotland
    br
    | Philippe Palanque, ICS-IRIT, Université Paul Sabatier,
    | Toulouse, France
  h4 Demos and Posters Chair:
  p Regina Bernhaupt, ICS-IRIT, Université Paul Sabatier,
    | Toulouse, France
    br
    | Filip Kis, KTH Royal Institute of Technology,
    | Stockholm, Sweden
  h4 Proceedings Chair:
  p Stefan Sauer, Paderborn University & Software
    | Innovation Campus Paderborn, Germany
  h4 Publicity Chair:
  p Filip Kis, KTH Royal Institute of Technology,
    | Stockholm, Sweden
  h3 Contact
  p
    | Twitter:
    a(href='https://twitter.com/HCSE_HESSD') &nbsp;@HCSE_HESSD
    br
    | Email:
    a(href='mailto:organizers@hcse-hessd.org') &nbsp;organizers@hcse-hessd.org
  h2 Program Committee
    small &nbsp;to be completed
  p
    b Ahmed Seffah
    | , Lappeenranta University of Technology, Finland
  p
    b Åke Walldius
    | , KTH Royal Institute of Technology, Stockholm, Sweden
  p
    b Alistair Sutcliffe
    | , Manchester Business School, United Kingdom
  p
    b Amy Pritchet
    | , Georgia Institute of Technology, Altanta, USA
  p
    b Anders Bruun
    | , Aalborg University, Denmark
  p
    b Anirudha Joshi
    | , Indian Institute of Technology, Bombay, India
  p
    b Anke Dittmar
    | , University of Rostock, Germany
  p
    b Bertrand David
    | , École Centrale de Lyon, France
  p
    b Birgit Bomsdorf
    | , Fulda University of Applied Science, Germany
  p
    b Camille Fayollas
    | , ICS-IRIT, University Paul Sabatier, Toulouse, France
  p
    b Carmelo Ardito
    | , University of Bari Aldo Moro, Italy
  p
    b Célia Martinie
    | , ICS-IRIT, University Paul Sabatier, Toulouse, France
  p
    b Cristian Bogdan
    | , KTH Royal Institute of Technology, Stockholm, Sweden
  p
    b Fabio Paterno
    | , Istituto di Scienza e Tecnologie dell'Informazione (ISTI), Pisa, Italy
  p
    b Francisco Montero
    | , University of Castilla-La Mancha, Spain
  p
    b Hermann Kaindl
    | , Vienna University of Technology, Austria
  p
    b Holger Firscher
    | , University of Paderborn, Germany
  p
    b Jan Gulliksen
    | , KTH Royal Institute of Technology, Stockholm, Sweden
  p
    b Jan Van Den Bergh
    | , Hasselt University, Belgium
  p
    b Janet Wesson
    | , Nelson Mandela Metropolitan University, Port Elizabeth, South Africa
  p
    b Jonathan Day
    | , City University London, United Kingdom
  p
    b Kati Kuusinen
    | , University of Central Lancashire, Preston, United Kingdom
  p
    b Luca Chittaro
    | , University of Udine, Italy
  p
    b Michael Pirker
    | , ruwido, Neumarkt, Austria
  p
    b Randall Mumaw
    | , NASA Ames Research Center, USA
  p
    b Regina Peldszus
    | , Leuphana University of Lüneburg, Germany
  p
    b Ricardo Tesoriero
    | , University of Castilla-La Mancha, Spain
  p
    b Rosa Lanziolotti
    | , University of Bari Aldo Moro, Italy
  p
    b Simone Barbosa
    | , Pontifical Catholic University (PUC) of Rio de Janeiro, Brasil
  p
    b Xavier Ferré
    | , Universidad Politecnica de Madrid, Spain
