extends ../../layout.jade

block info
  -var menu='attending'

block content
  h2 Venue
  p.
    HCSE+HESSD 2016 will
    be held at #[a(href='http://openlabsthlm.se/about/') OpenLab] center at #[a(href='http://www.kth.se') KTH Royal Institute of Technology] campus in
    central Stockholm, the capital city of Sweden.

  h4 OpenLab
  p Openlab is a creative centre with the mission to enable societal
    | innovations and improve quality of life for people in the Stockholm
    | region. Besides being a platform for societal development we also run a
    | master course, crash courses in Design Thinking, we create workshops,
    | longer projects, run a co-working space, a conference center and
    | collaborate with Open Café. We were founded by the City of Stockholm, the
    | County Counsel, the County Administrative board, KTH, Stockholm
    | University, Södertörn University and the Karolinska Institute.
  div.row
    div.col-sm-4.col-sm-offset-1
      img.img-responsive(src="/images/openlab1.jpg")
    div.col-sm-2
      img.img-responsive(src="/images/openlab.png")
    div.col-sm-4
      img.img-responsive(src="/images/openlab2.jpg")
  h4 Stockholm
  p
    | Stockholm is the capital and largest city of Sweden, built on 14 islands connected by 57 bridges. The city is a lively, cosmopolitan place with both modern
    | Scandinavian architecture and an abundance of green space.
  p
    | Stockholm is one of the most beautiful major cities in the world, a mirage of saffron- and terracotta-coloured buildings shimmering between blue water and
    | bluer skies all summer. It is also a vibrant, modern city, famous for producing sleek designs, edgy fashion and world-class nightclubs.
  p
    | Over 30% of the city area is made up of waterways and another 30% is made up of parks and green spaces, giving Stockholm perhaps the freshest air of any
    | European capital.
  p
    | Most of the city’s attractions can be reached on foot, and there’s a good chance of experiencing a lot of things in a short time.
  p
    | Do not miss Gamla Stan, Stockholm’s oldest attraction and one of the best preserved medieval city centers in the world. Walk through small winding streets
    | lined with stores full of handicrafts, antiques, art galleries and cafés. The Royal Palace and Stockholm Cathedral are also located in Gamla Stan.
  h4 Language
  p
    | The official language in Stockholm is Swedish. However, many people in Sweden speak English. Please note that English is the official language of ICRA
    | 2016.
  h4 Climate
  p
    | Despite its northern location, Stockholm has fairly mild temperatures throughout the year.
  p
    | As a result of its northerly latitude, the city sees a huge seasonal variation in sunlight, from more than 18 hours of daylight around midsummer. Stockholm
    | enjoys an average of nearly 2,000 hours of sunshine a year.
  h4 Currency, Credit Card and Exchanging Money
  p
    | Sweden is one of three EU countries (along with Denmark and the UK) that opted to keep their currency and not use the Euro. The currency in Sweden is
    | called the Swedish crown, or the krona (SEK). Credit and debit cards are accepted almost everywhere in Stockholm. Forex is the place to exchange money or
    | buy SEK. They are found throughout the city at 17 locations, including Arlanda, the train station, NK department store and the Old Town. They have good
    | exchange rates there and do money transfers as well.
  h4 Electricity
  p
    | Electrical sockets (outlets) in Sweden are one of the two European standard electrical socket types, and usually supply electricity at between 220 and 240
    | volts AC.
  p
    | More information can be found at&nbsp;
    a(href='http://www.visitstockholm.com')
      | Visit Stockholm
