extends ../layout.jade

block info
  -var menu='program'

block content
  h1 Conference proceedings
  p The conference proceedings can be found in digital form at&nbsp;
    a(href='http://link.springer.com/book/10.1007%2F978-3-319-44902-9') Springer Library
    | .

