extends ./layout.jade

block content
  h1
    | Welcome to the jointly organized
    br
    | 6
    sup th
    |  HCSEE and 8
    sup th
    |  HESSD

  p.
    HCSE and HESSD are #[a(href='http://ifip-tc13.org/',target='_blank') IFIP TC 13] working
    conferences that bring together researchers and
    practitioners. For the first time, they will be jointly
    organized by IFIP Working Groups #[a(href='http://ifip-tc13.org/working-groups/working-group-13-2/',target='_blank') WG 13.2] and
    #[a(href='http://ifip-tc13.org/working-groups/working-group-13-5/',target='_blank') WG 13.5]. HCSE is targeted towards user interface
    design, combining software engineering and
    human-computer interaction and integrating
    human-centered design with software engineering
    processes. HESSD is concerned with the role and
    impact of human error in design, management and
    operation of safety-critical systems and leading
    edge techniques for mitigating the impact of human
    error in complex systems.
  p.
    HCSE+HESSD 2016 will
    be held at the #[a(href='www.kth.se') KTH Royal Institute of Technology] in
    Stockholm, the capital city of Sweden.
  h4 Topics of interest include,  but are not limited to:
  .row
    .col-sm-6
      h3 HCSE
      ul
        li contributions to the theory and best prac-tices of
        li user-centered design
        li design and architectural patterns for inter-active systems
        li involvement of end-users, clients and stakeholders in the development process of interactive systems
        li innovative methods for identifying end-user requirements for interactive systems
        li integration of user experience in develop-ment processes
        li methods for designing, building and asses-sing interactive systems beyond the desk-top (e.g. the living room, ubiquitous and multi-display, cockpits, etc.)
        li models and model-based approaches for building interactive systems
        li integration of multiple properties (e.g. usability, security, reliability, user experience, privacy, accessibility, etc.) in software development
        li socio-technical aspects of interactive software development
        li software architectures for interactive systems
        li rational design and traceability of design choices.
    .col-sm-6
      h3 HESSD
      ul
        li risk-based approaches to critical inter-active systems and infrastructure security
        li reliability and dependability of interactive systems
        li accident investigation and 'lessons lear-ned' techniques
        li designing for human error forecasting, prevention, tolerance and removal
        li techniques for analyzing technical failure as well as human and managerial 'error'
        li usability in safety-critical systems
        li management of conflicting properties for the design, development and operation of critical systems
        li from design and development to training of operators
        li collaboration and collaborative systems as dependa- bility mechanism for command and control systems
        li automation design, function allocation and task migration as design option for dependable operations
