doctype html
html.no-js(lang='')
  block info
    -var menu='default';
  head
    meta(charset='utf-8')
    meta(name='keywords', content='HCSE 2016, HESSD 2016, Conference, Human-Centered Software Engineering, Human Error, Safety, and System Development, Stockholm, Sweden, 2016, HCSE, HESSD, IFIP')
    meta(name='description', content='HCSE and HESSD are IFIP TC 13 working conferences that bring together researchers and practitioners. For the first time, they will be jointly organized by IFIP Working Groups WG 13.2 and WG 13.5. HCSE is targeted towards user interface design, combining software engineering and human-computer interaction and integrating human-centered design with software engineering processes. HESSD is concerned with the role and impact of human error in design, management and operation of safety-critical systems and leading edge techniques for mitigating the impact of human error in complex systems.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title HCSE + HESSD 2016
    // Place favicon.ico in the root directory
    // build:css /styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css /styles/main.css
    link(rel='stylesheet', href='/styles/main.css')
    // endbuild
    // build:js /scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header.pull-left
          a.navbar-brand(href='/', target='_top') HCSE + HESSD 2016
        .navbar-header.pull-right
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-menu', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #main-menu.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class={active:menu === 'submitting'})
              a(href='/submitting/#top')
                | Submitting
            li(class={active: menu === 'program'})
              a(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Program
                span.caret
              ul.dropdown-menu
                li
                  a(href='/program/keynote/#top') Keynotes
                li
                  a(href='/program/social/#top') Social
            li(class={active:menu === 'attending'})
              a(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Attending
                span.caret
              ul.dropdown-menu
                li
                  a(href='/attending/registration/#top') Registration
                li
                  a(href='/attending/venue/#top') Venue
                li
                  a(href='/attending/transportation/#top') Transportation
                li
                  a(href='/attending/accommodation/#top') Accommodation
            li(class={active: menu === 'organizers'})
              a(href='/organizers/#top')
                | Organizers
            li(class={active:menu === 'previous'})
              a(href='/previous/#top')
                | Previous years


    .cover
      .container
        .text-primary
          .jumbotron
            h1.text-primary HCSE + HESSD 2016
            p.lead
              | 6
              sup th
              |   International Working Conference on Human-Centred Software Engineering
              br
              | 8
              sup th
              |   International Working Conference on Human Error, Safety, and System Development
    a#top.anchor
    .container
      .row
        .col-lg-8
          block content
        .col-lg-4
          .well
            h4 Stockholm, Sweden
            h4
              | August 29
              sup th
              |-31
              sup th
              |, 2016
          .well
            .text-center
              a.btn.btn-primary(href="https://www.easychair.org/conferences/?conf=hcsehessd2016") Submit a Paper now
          .well.condensed
            h4 Important dates
            table.table
              tr
                td.spaced
                  strike April 11, 2016
                  br
                  b April 25, 2016
                td
                  b Abstract submission&nbsp;
                    small
                      i (full & short papers)
              tr
                td.spaced
                  strike April 18, 2016
                  br
                  | May 2, 2016
                td Paper submission&nbsp;
                  small
                    i  (full & short)
              tr
                td.spaced May 17, 2016
                td Demo and poster submission&nbsp;
              tr
                td.spaced May 20, 2016
                td Author notification&nbsp;
                  small
                    i  (full & short)
              tr
                td.spaced June 15, 2016
                td Author notification&nbsp;
                  small
                    i  (demo & poster)
              tr
                td.spaced June 27, 2016
                td Final submission&nbsp;
                  small
                    i  (all submissions)
          a.twitter-timeline(href='https://twitter.com/HCSE_HESSD', data-widget-id='717628933043318784') Tweets by @HCSE_HESSD
          script.
            !function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
              if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
              }
            }(document, "script", "twitter-wjs");

      if menu == 'default'
        hr
        .row
          .col-sm-4.col-sm-offset-1
            a(href='http://international.stockholm.se/')
              img.img-thumbnail.img-circle(src="/images/View_city_hall_waterfront_building_zoomed_Photo_Erik_G_Svensson_High-res.png")
            h4.text-center
              a(href='http://international.stockholm.se/') City of Stockholm
          .col-sm-4.col-sm-offset-2
            a(href='https://www.kth.se/en')
              img.img-circle.img-thumbnail(src="/images/kth.png")
            h4.text-center
              a(href='https://www.kth.se/en') KTH Royal Institute of Technology
      hr
      h4 Supporting Institutions and Sponsors
      p.text-center
        a(href="http://ifip-tc13.org/",target="_blank", style="margin-right:100px")
          img(src="/images/logos-IFIP-TC13.png")
        a(href="http://openlabsthlm.se/",target="_blank", style="margin-right:100px")
          img(src="/images/openlab.png", height="100")
        a(href="http://www.kth.se/",target="_blank")
          img(src="/images/kth_rgb.jpg", height="100")
    .footer
        p.text-center Copyright 2016 &copy; Media Technology and Interaction Design · KTH Royal Institute of Technology, Stockholm · All rights reserved
    //// Google Analytics: change UA-XXXXX-X to be your site's ID.
    //script.
    //  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    //    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    //    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    //    e.src='https://www.google-analytics.com/analytics.js';
    //    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    //  ga('create','UA-38702438-3');ga('send','pageview');
    // build:js /scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild
    // build:js /scripts/plugins.js
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
    // endbuild
    // build:js /scripts/main.js
    script(src='scripts/main.js')
    // endbuild
