doctype html
html.no-js(lang='')
  block info
    -var menu='default';
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title HCSE + HESSD 2016
    // Place favicon.ico in the root directory
    // build:css /styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css /styles/main.css
    link(rel='stylesheet', href='/styles/main.css')
    // endbuild
    // build:js /scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header.pull-left
          a.navbar-brand(href='/', target='_top') HCSE + HESSD 2016
        .navbar-header.pull-right
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-menu', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #main-menu.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class={active:menu === 'submitting'})
              a(href='/submitting')
                | Submitting
            li(class={active:menu === 'attending'})
              a(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Attending
                span.caret
              ul.dropdown-menu
                li
                  a(href='/attending/venue') Venue
                li
                  a(href='/attending/transportation') Transportation
                li
                  a(href='/attending/accommodation') Accommodation
            li(class={active: menu === 'organizers'})
              a(href='/organizers')
                | Organizers
            li(class={active:menu === 'previous'})
              a(href='/previous')
                | Previous years


    .cover
      .container
        .text-primary
          .jumbotron
            h1.text-primary HCSE + HESSD 2016
            p.lead
              | 6
              sup th
              |   International Working Conference on Human-Centred Software Engineering
              br
              | 8
              sup th
              |   International Working Conference on Human Error, Safety, and System Development
    .container
      .row
        .col-lg-8
          block content
        .col-lg-4
          .well
            h4 Stockholm, Sweden
            h4
              | August 29
              sup th
              |-31
              sup th
              |, 2016
          .well
            .text-center
              a.btn.btn-primary(href="https://www.easychair.org/conferences/?conf=hcsehessd2016") Submit a Paper now
          .well
            h4 Important dates
            table.table
              tr
                td.spaced
                  b April 11, 2016
                td
                  b Abstract submission&nbsp;
                    small
                      i (full & short papers)
              tr
                td.spaced April 18, 2016
                td Paper submission&nbsp;
                  small
                    i  (full & short)
              tr
                td.spaced May 17, 2016
                td Demo and poster submission&nbsp;
              tr
                td.spaced May 20, 2016
                td Author notification&nbsp;
                  small
                    i  (full & short)
              tr
                td.spaced June 15, 2016
                td Author notification&nbsp;
                  small
                    i  (demo & poster)
              tr
                td.spaced June 27, 2016
                td Final submission&nbsp;
                  small
                    i  (all submissions)

      if menu == 'default'
        hr
        .row
          .col-sm-4.col-sm-offset-1
            img.img-thumbnail.img-circle(src="/images/View_city_hall_waterfront_building_zoomed_Photo_Erik_G_Svensson_High-res.png")
            h4.text-center City of Stockholm
          .col-sm-4.col-sm-offset-2
            img.img-circle.img-thumbnail(src="/images/kth.png")
            h4.text-center KTH Royal Institute of Technology
      hr
      h4 Supporting Institutions and Sponsors
      p.text-center
        a(href="http://ifip-tc13.org/",target="_blank")
          img(src="/images/logos-IFIP-TC13.png")
      .footer
        p Copyright 2016 &copy; Media Technology and Interaction Design · KTH Royal Institute of Technology, Stockholm · All rights reserved
    //// Google Analytics: change UA-XXXXX-X to be your site's ID.
    //script.
    //  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    //    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    //    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    //    e.src='https://www.google-analytics.com/analytics.js';
    //    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    //  ga('create','UA-38702438-3');ga('send','pageview');
    // build:js /scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild
    // build:js /scripts/plugins.js
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
    // endbuild
    // build:js /scripts/main.js
    script(src='scripts/main.js')
    // endbuild
