
extends ../layout.jade

block info
  -var menu='previous'

block content
  h2 Previous years
  .row
    .col-sm-6
      h4 HCSE
      ul
        li 5
          sup th
          |  Conference:&nbsp;
          a(href="http://hcse2014.uni-paderborn.de/")  HCSE 2014
          |  Paderborn, Germany
        br
        a(href="http://hcse2014.uni-paderborn.de/")
          img(src="/images/hcse2014.jpg", width="250")
        br
        br
        li 4
          sup th
          |  Conference:&nbsp;
          a(href="http://www.irit.fr/recherches/ICS/events/conferences/hcse/hcse2012/")  HCSE 2012
          |  Toulouse, France
        br
        a(href="http://www.irit.fr/recherches/ICS/events/conferences/hcse/hcse2012/")
          img(src="/images/hcse2012.jpg", width="250")
        br
        br
        li 3
          sup rd
          |  Conference:&nbsp;
          a(href="http://wwwswt.informatik.uni-rostock.de/HCSE2010/")  HCSE 2010
          |  Reykjavik, Iceland
        br
        a(href="http://wwwswt.informatik.uni-rostock.de/HCSE2010/")
          img(src="/images/hcse2010.jpg", width="250")
        br
        br
        li 2
          sup nd
          |  Conference:&nbsp;
          a(href="http://wwwswt.informatik.uni-rostock.de/HCSE2008/")  HCSE 2008
          |  Pisa, Italy
        br
        a(href="http://wwwswt.informatik.uni-rostock.de/HCSE2008/")
          img(src="/images/hcse2008.jpg", width="250")
        br
        br
        li 1
          sup st
          | Conference:  HCSE 2007 Salamanca, Spain
        br
        img(src="/images/hcse2007.jpg", width="250")
        br
        br
    .col-sm-6
      h4 HESSD
      ul
        li 7
          sup th
          |  Conference:&nbsp;
          a(href="http://link.springer.com/content/pdf/10.1007%2F978-3-642-11750-3.pdf")  HESSD 2009
          |  Brussels, Belgium
        li 6
          sup th
          |  Conference:&nbsp;
          a(href="http://www.irit.fr/recherches/ICS/events/conferences/hessd/hessd04/")  HESSD 2004
          |  Toulouse, France
        li 5
          sup th
          |  Conference:&nbsp;
          a(href="http://www.lifeworks.net.au/HESSD_02/index.htm")  HESSD 2002
          |  Newcastle, Australia
        li 4
          sup th
          |  Conference:&nbsp;
          a(href="http://www.ida.liu.se/conferences/HESSD/")  HESSD 2001
          |  Linköping, Sweden
        li 3
          sup rd
          |  Conference: HESSD 1999 Liege, Belgique
        li 2
          sup nd
          |  Conference:&nbsp;
          a(href="http://www.dcs.gla.ac.uk/~johnson/papers/seattle_hessd/")  HESSD 1998
          |  Seattle, USA
        li 1
          sup st
          |  Conference:&nbsp;
          a(href="http://www.dcs.gla.ac.uk/~johnson/papers/workshop/human_error.htm")  HESSD 1997
          |  Glasgow, Scotland

