extends ../layout.jade

block info
  -var menu='submitting'

block content
  h2 Submitting to the conference
  p Submissions are solicited in the following  categories:
  h4 Technical full papers
  p.
    Technical full papers (#[b up to 20 pages]) should describe
    substantial research contributions of novel work that has
    produced advanced results including validation of results.
  h4 Late Breaking Results short papers
  p.
    Late Breaking Results short papers (#[b up to 12 pages])
    should present work in progress, new practice and
    experience reports containing good (and bad)
    practices and/or recent practical evaluations of
    methods, techniques and tools.
  h4 Demonstrations and Posters
  p.
    Demonstration and Poster submissions
    (#[b 5–8 pages, plus poster design draft for the latter])
    should present ongoing work and/or late breaking
    results related to the use of innovative tools and
    cutting-edge systems not described in other paper
    submissions. Demonstration papers should provide
    description of tools including user tasks and
    evidence of use to end-users.
    Demo submissions should summarize the system's significance and
    its performance and should either include screenshots
    or link to an online-accessible resource. The poster
    design draft should show the planned design and
    content of the poster that will be presented at the
    conference. Industry contributions to demos and pos-
    ters are particularly welcome and highly encouraged.
  p.
    The submissions and review process is managed in
    #[b EasyChair] available through #[a(href='https://www.easychair.org/conferences/?conf=hcsehessd2016') submission link].
  .text-center
    a.btn.btn-primary(href="https://www.easychair.org/conferences/?conf=hcsehessd2016") Submit a Paper now

  h4 Presentations and demo
  p.
    All accepted submissions will be presented in the
    joint conference program of HCSE + HESSD 2016 and
    published in the conference proceedings. It will be pos-
    sible for authors of accepted Technical full papers and
    Late Breaking Results short papers to give tool demos
    as well without submitting additional demo papers.
  h4 Proceedings
  p
    | All submissions must be formatted according to the&nbsp;
    a(href="http://www.springer.com/computer/lncs?SGWID=0-164-12-73062-0")  guidelines of the
      | Lecture Notes in Computer Science (LNCS)
    |  series of Springer
    | Authors are requested to prepare submissions as close as possible to final
    | camera-ready versions. Prior abstract submission by
    | the given due date for Technical full papers and Late
    | Breaking Results short papers is mandatory.
  h4 Reviews
  p.
    All submissions will be peer-reviewed for
    their topical relevance, originality, technical contribu-
    tion, and presentation quality by the members of the
    international program committee. For poster sub-
    missions, both paper and poster design draft will be
    assessed for review. It will be possible for the program
    committee to suggest accepting submissions in other
    than their original submission categories.
