extends ../../layout.jade

block info
  -var menu='attending'

block content
  h2 Accommodation close to KTH Campus
  h4
    a(href="https://www.elite.se/sv/hotell/stockholm/hotel-arcadia",target="_blank") Elite Hotel Arcadia
  p
    | Address: Körsbergsvägen 1, Stockholm
    br
    | Elite Hotel Arcadia is a design hotel located next to the legendary Stadium and the Royal
    | Institute of Technology. It offers a peaceful oasis in central Stockholm. 10 minutes’ walk
    | to KTH Campus.
  h4
    a(href="http://www.scandichotels.se/Hotels/Sverige/Stockholm/Scandic-Park/",target="_blank") Scandic Park
  p
    | Address: Karlavägen 43, Stockholm
    br
    | Scandic Park Hotel is 10 minutes away from KTH Campus and situated in central Stockholm by
    | peaceful Humlegården park and just a 5-minute walk away from Stureplan’s lively shops and
    | bars. 10-15 minutes’ walk to campus
  h4
    a(href="http://www.kth.se/places/room/Wallquistska/Wallquistska",target="_blank") Wallquistska Guesthouse
  p
    | Address:  Villagatan 19, Stockholm
    br
    | Tel: 08-790 88 80
    br
    | The Wallquistska Guesthouse located close to KTH Campus. 5-10 minutes’ walk. To submit a request for available guest rooms, please contact:
    |  #[a(href="mailto:relocation@kth.se") relocation@kth.se]
  h4
    a(href="http://www.timehotel.se/",target="_blank") Best Western Time Hotel
  p
    | Address: Vanadisvägen 12, Stockholm
    br
    | About 25-35 minutes’ walk to KTH.

  p
    | For more information, visit the&nbsp;
    a(href="http://www.stockholm.com/en",target="_blank") Stockholm web page
