extends ../../layout.jade

block info
  -var menu='attending'

block content
  h1 Registration
  h3 Registration fees (25% VAT included)

  table.table
    thead
      tr
        th
        th.active Early
          br
          small until August 5, 2016
        th Regular
          br
          small after August 5, 2016
    tbody
      tr
        td Full conference registration
        td.active.text-center
          | 4000 SEK&nbsp;
          a(href='http://login2.axaco.se/C1257BA300267845/registrationForm?openagent&unid=57690A3390314FFDC1257FA0004FA4D4&AttendeeInput6=2') Register
        td.text-center 5500 SEK
      tr
        td Discounted registration for full-time students
        td.active.text-center
          | 3000 SEK&nbsp;
          a(href='http://login2.axaco.se/C1257BA300267845/registrationForm?openagent&unid=57690A3390314FFDC1257FA0004FA4D4&AttendeeInput6=4') Register
        td.text-center 4000 SEK
  hr
  p Registration is now open. Please register using the appropriate link in the above table.

  p The conference registration fee includes:
    ul
      li participation in all conference sessions and demos
      li refreshment breaks and lunch
      li copy of the conference proceedings
      li opening reception at VIC
      li one ticket for the conference dinner in the archipelago

