extends ../../layout.jade

block info
  -var menu='program'

block content
  h1 Social program
  h2 Conference dinner on-board  in the  Stockholm archipelago - Tuesday, 30th
  p After a long day of great presentations and new insights, we invite you to a conference dinner to continue the social gathering, networking and discussions. The dinner will take place on classic Stockholm archipelago boat
    a(href="http://www.stromma.se/en/groups-charter/stockholm/fleet/classic-ships/ms-waxholm-iii/",target="_blank") &nbsp;M/S Waxholm III
    | .
  p It is the last of the old archipelago ships to bear the name Waxholm. She has been lovingly renovated,
    | and the interiors have been reinstated to give the feel of entering a restaurant in the early 20th century.
    | The ship has a gentlemen’s lounge and a ladies’ lounge, where wallpaper from the beginning of the 1900s
    | was used as part of the refurbishment.
  div.row
    div.col-sm-4
      img.img-responsive(src="/images/boat1.jpg")
    div.col-sm-4
      img.img-responsive(src="/images/boat2.jpg")
    div.col-sm-4
      img.img-responsive(src="/images/boat3.jpg")
  h2 Welcome reception at VIC - Monday, 29th
  p In the afternoon of the first day we will invite you to welcome reception at
    | the
    a(href="https://www.kth.se/en/csc/forskning/hpcviz/forskning/2.48237/om-studion-1.346779", target="_blank") &nbsp;visualization studio at KTH (VIC)
    | . VIC is a resource for students and researchers. The studio houses many types of technology to manage and interact with large amounts of data. It also support the relevant application of the data, through modalities such as haptics, eye tracking, multitouch and various stereoscopic systems.
  p Students in various courses use the technology from VIC in various visualisation and interaction projects. Check them out on
    a(href="https://www.facebook.com/VisualizationStudio", target="_blank") &nbsp;VIC Facebook page
    | .
  div.row
    div.col-sm-5
      img.img-responsive(src="/images/vicstudio1.png")
    div.col-sm-7
      img.img-responsive(src="/images/vic.jpg")

