extends ../../layout.jade

block info
  -var menu='program'

block content
  h1 Keynotes
  a#opening.anchor
  img.img-thumbnail.pull-right(src="/images/danica.png",width=160)
  h2
    | Danica Kragic
    br
    small KTH Royal Institute of Technology
  br
  h3 Opening Keynote: Human-machine interaction and collaboration: systems, safety and liability
  br
  //h4 Abstract
  //p TBA
  //h4 Bio
  p Danica Kragic is a Professor at the School of Computer Science and Communication
    | at the Royal Institute of Technology, KTH. She received MSc in Mechanical Engineering
    | from the Technical University of Rijeka, Croatia in 1995 and PhD in Computer Science
    | from KTH in 2001. She has been a visiting researcher at Columbia University,
    | Johns Hopkins University and INRIA Rennes. She is the Director of the Centre for
    | Autonomous Systems. Danica received the 2007 IEEE Robotics and Automation Society
    | Early Academic Career Award. She is a member of the Royal Swedish Academy of Sciences
    | and Young Academy of Sweden. She holds a Honorary Doctorate from the Lappeenranta
    | University of Technology. She chaired IEEE RAS Technical Committee on Computer and
    | Robot Vision and served as an IEEE RAS AdCom member. Her research is in the area of robotics,
    | computer vision and machine learning. In 2012, she received an ERC Starting Grant.
    | Her research is supported by the EU, Swedish Foundation for Strategic Research and
    | Swedish Research Council.

  br
  a#closing.anchor
  img.img-thumbnail.pull-right(src="/images/ivar.jpg",width=160)
  h2
    | Ivar Jacobson
    br
    small Ivar Jacobson International
  br
  h3 Closing Keynote: The future of Human-centred software engineering
  br
  //h4 Abstract
  //p TBA
  //h4 Bio
  p Dr. Ivar Jacobson is a father of components and component architecture, use cases, the Unified Modelling Language and the Rational Unified Process.  He has contributed to modern business modelling and aspect-oriented software development.
    | However, all this is history.    Lately he has been working on how to deal with methods and tools in a smart, superlight and agile way.  He has developed a practice concept that is now being adopted by both developers and tool vendors. Now he is one of the leaders of a worldwide network SEMAT, which has agreed to revolutionize software development.
    | Dr. Jacobson is an international honorary advisor at Peking University, Beijing, and he holds an honorary doctor at San Martin de Porres University, Peru.
    | He is the principal author of seven influential and best-selling books.
    | Ivar Jacobson is the chairman of Ivar Jacobson International which has subsidiaries in the US, UK, China, Singapore, Sweden and Canada.


